<h1>Delete Register</h1>
<form id="register-form" method="POST">
  <label for="id">Identification:</label><br>
  <input type="text" id="id" name="id" required="required"><br><br>
  <input type="submit" value="delete">
</form>
<br>
<button onclick="location.href='/'" type="button">
    Go Back</button>